<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvUTwfECj8OkSXQuKWg6FXuLNwt8pBa74</string>
	<key>GCM_SENDER_ID</key>
	<string>610776922530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.phrapp</string>
	<key>PROJECT_ID</key>
	<string>phrapp-261ae</string>
	<key>STORAGE_BUCKET</key>
	<string>phrapp-261ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610776922530:ios:ec0e6a69ddb0b3a5461afb</string>
</dict>
</plist>